<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Proyecto Mision Tic2022</h5>
        <p class="grey-text text-lighten-4">Proyecto Amazon</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!"
              >Julian Montufar Burbano</a
            >
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Angela Cataño</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="#!">Jhon</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Anderson</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Sebastian</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      2021
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
