<nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="brand-logo"><img src="https://img.icons8.com/ios-filled/50/000000/amazon.png"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Usuarios</a></li>
        <li><a href="badges.html">Encomiendas</a></li>
        <li><a href="collapsible.html">Clientes</a></li>
        <li><a href="collapsible.html"><img src="https://img.icons8.com/ios-glyphs/30/000000/test-account.png"/></a></li>
      </ul>
    </div>
  </nav>
